@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

 * {
        margin:0;
        padding:0;
        border:0;
        text-decoration:none;
        letter-spacing:0px;
/*         background-color:#fb9e99;
        text-align:center;
        color:white; */
}

.homeTop {
	background-color:#df993d;
	height:120px;
	padding-left:30px;
	padding-right:30px;
	line-height:120px;
}
.homeTopfont {
	font-family: 'Acme', sans-serif;
	font-size:110px;
	color:#ece5ce !important;
	line-height:120px !important;
}
.homeMain {
	background-color:#222f3e;
}
.mainText {
	color:#ece5ce;
	font-size:60px;
	text-align:right;
	padding-top:90px;
	padding-right:120px;
	font-weight:bold;
	line-height:80px !important;
}
.bgLogo {
	padding-top:380px;
	text-align:left;
}
.logo {
	margin-top:-100px;
	margin-left:50px;
	width:550px;
	height:550px;
	opacity:0.1;
}
.mainBtnAlign {
	margin-top:30px;
	margin-right:130px;
}
.content{
	width:100%;
	height:100px;
}
button {
	background-color:#7cb347;
	font-size:25px;
	color:#ffffff;
	border-radius:15px;
	width:200px;
	height:50px; 
	cursor:pointer;
	font-weight:600;
	outline:none;
	float:right;
}

button:hover {
	background-color:#df993d;
	font-size:25px;
	color:#333333;
	border-radius:15px;
	cursor:pointer;
	font-weight:600;
	outline:none;
}

#contnentloginbtn {
	background-color:#df993d;
	font-size:25px;
	color:#333333;
	border-radius:15px;
	cursor:pointer;
	font-weight:600;
	outline:none;
	margin-top:10px;	
}

#contnentloginbtn:hover {
	background-color:#7cb347;
	font-size:25px;
	color:#ffffff;
	border-radius:15px;
	width:200px;
	height:50px; 
	cursor:pointer;
	font-weight:600;
	outline:none;
	float:right;
}

.startBtn {
	background-color:#811726;
	color:#ffffff;
	margin-left:20px;
}

input {
	margin-top:10px !important;
	width:300px;
	height:50px;
	border-radius:5px ;
	outline:inset !important;
	padding:10px;
}
input:focus {
	outline:none !important;
}

.email {
	padding-top:60px;
	padding-right:270px;
	text-align:right;
}

.pwd{
	padding-right:270px;
	text-align:right;
}

